@mixin center-v() {
  position: fixed;
  top: 0;
  height: 100%;
  margin: 0;
}

body {
  font-family: avenir, arial, sans-serif;
  background: #333;
}

.item {
  width: 100px;
  margin: 10px auto;
  padding: 50px;
  background: #4f4e4e;
  text-align: center;
  color: white;
  font-size: 3rem;

  span {
    display: block;
    font-size: 1rem;
  }

  &--blue {
    @include center-v;
    left: 0;
    background: navy;
  }

  &--red {
    @include center-v;
    right: 0;
    background: maroon;
  }

  &[id^="trigger-"] {
    border-bottom: 1rem solid yellow;

    span {
      background: black;
      color: yellow;
    }
  }
}

[data-aos="custom-animation"] {
  transform: scale(2);
  &.aos-animate {
    transform: scale(1);
  }
}
